@{
	ViewBag.Title = "Segítség rendszergazdáknak";
	ViewBag.MetaKeywords = "segítség, útmutató, súgó, rendszergazdáknak, MSDNAA, DreamSpark, szoftver, letöltés";
	ViewBag.MetaDescription = "Tájékoztató a tanszéki rendszergazdák számára.";
}


<h1 class="page-header">Segítség rendszergazdáknak</h1>

<p>
	A licenc értelmében az Egyetem tanszékei és
	kollégiumai a laborokban szintén használhatják a
	DreamSpark programban elérhető szoftver termékeket. A tömeges
	telepítéssel járó nehézségeket enyhítendő, az
	aktiváláshoz kötött termékekből elérhető ún. Volume
	Licence változat is. A Volume Licence verzió nagy
	előnye, hogy nem igényel aktiválást, így nem kell minden
	labor gépet más kulccsal telepíteni, majd egyesével
	aktiválni, hanem a jól bevált (általában image
	készítéssel járó) telepítési technológiák továbbra is
	alkalmazhatóak.
</p><p>
	A Volume Licence médiát és a hozzá
	tartozó aktiváló kulcsot csak a tanszékeken és a kollégiumokban
	dolgozó rendszergazdák számára szolgáltatjuk ki, hallgatók
	számára ezek nem elérhetők. A Volume Licence médiát és kulcsot a
	szervezeti egység vezetőjének <strong>írásos kérésére</strong> adjuk ki,
	kizárólag <strong>személyesen</strong>. A kérvényen név szerint
	szerepelnie kell, hogy a szervezeti egységben ki az munkatárs,
	aki személy szerint felelős a kulcsok és a telepítőkészletek
	titkosságának megőrzéséért.
</p>

<p>
	További kérdéseivel forduljon a
	<a href="@Url.RouteUrl( RouteNames.Contact )">program adminisztrátor</a>hoz.
</p>

