@{
	ViewBag.Title = "Kapcsolatfelvétel";
	ViewBag.MetaKeywords = "kapcsolat, adminisztrátorok, MSDNAA, DreamSpark, szoftver, letöltés";
	ViewBag.MetaDescription = "A program adminisztrátorok elérhetőségei.";
}

<h1 class="page-header">Kapcsolatfelvétel</h1>

<p>
	<i class="icon-envelope"></i>
	E-mail:
	@Html.EmailLink( "msdnaa@bme.hu", "msdnaa@bme.hu" )
</p>


<div class="row-fluid content-container">
	<div class="span6 text-center content-box">
		<p>
			<strong>Hallgatói kérdések</strong>
		</p>
		<p>
			<strong>VIK hallgatói részére:</strong>
			Ládi Gergő - @Html.EmailLink( "Gergo.Ladi@student-partners.ms", "Gergo.Ladi@student-partners.ms" )
			<br />
			<strong>Többi kar hallgatói részére:</strong>
			Lipécz Ádám - @Html.EmailLink( "Adam.Lipecz@student-partners.ms", "Adam.Lipecz@student-partners.ms" )
		</p>
	</div>
	<div class="span6 text-center content-box content-box-primary">
		<p>
			<strong>Oktatói kérdések</strong>
		</p>
		<p>
			<a href="http://www.aut.bme.hu/Staff/balassy" target="_blank">Balássy György</a><br />
			Automatizálási és Alkalmazott Informatikai Tanszék<br />
			Q.B.223. szoba, 463-3714
		</p>
	</div>
</div>	

