@{
	ViewBag.Title = "Segítség a letöltéshez";
	ViewBag.MetaKeywords = "letöltés, segítség, súgó, MSDNAA, DreamSpark, szoftver, letöltés";
	ViewBag.MetaDescription = "Segítség és útmutató a letöltéshez.";
}

<h1 class="page-header">Segítség a letöltéshez</h1>

<p>
	A DreamSpark program keretében elérhető szoftverekhez letöltés útján lehet hozzájutni.
</p>
<p>
	Első lépésként kattintson a
	<a href="http://msdnaa.bme.hu">http://msdnaa.bme.hu</a>
	oldal fejlécében található <strong>Letöltés</strong> feliratú
	linkre. A megjelenő oldalon összefoglaltuk, hogy a
	különböző Microsoft termékek közül melyek érhetők el a
	Campus és melyek a DreamSpark licenc keretében.
	(Megjegyzés: ezen az oldalon nem soroltuk fel az összes
	elérhető terméket, csak a főbb termék csoportokat!) A
	megfelelő oszlop alján található Letöltés linkre
	kattintva az adott licenchez tartozó letöltő szerverre
	jut.
</p>
<p>
	A DreamSpark licenchez tartozó szoftverek letöltését, a
	felhasználók nyilvántartását, a letöltés naplózását és a
	kulcskiosztást egy a Microsofttal szerződött külső cég
	rendszere, a <strong>Kivuto WebStore</strong> (korábbi
	nevén e-Academy License Management System, ELMS)
	végzi, ezért minden letöltést a
	<a href="http://e5.onthehub.com/WebStore/Welcome.aspx?ws=42a261b1-869b-e011-969d-0030487d8897" target="_blank">WebStore szerveren</a> kell
	kezdeményezni.
</p>
<p>
	A WebStore eléréséhez nem kell külön regisztrálni, mert a bejelentkezés a BME Címtár segítségével történik.
</p>
<p>
	Bejelentkezés után a Home oldalon a <strong>DreamSpark Permium</strong> fülön megjelenik a
	katalógus, ahol a termékek ikonjára kattintva
	tekinthetők meg a szoftver részletes adatai és különböző
	verziói.
</p>
<p>
	Amennyiben valóban erre a szoftverre van szüksége,
	kattintson az <strong>Add To Cart </strong>gombra,
	aminek hatására megjelenik a "kosár" aktuális tartalma.
</p>
<p>
	A <strong>Continue Shopping</strong> gombra kattintva további
	szoftvereket igényelhet, az előzőekben ismertetett
	módon. A <strong>Check Out</strong> gombra kattintva
	véglegesítheti a megrendeléseit.
</p>
<p>
	A következő lépésben el kell fogadnia a termékhez
	tartozó végfelhasználói licencszerződést, amit az oldal
	alján található <strong>I Accept</strong> gombra
	kattintással tehet meg.
</p>
<p>
	Amennyiben még nem tette meg, akkor a következő
	lépésben meg kell adni a családi- és utónevét, majd a
	<strong>Proceed With Order </strong>gombra kattintva a rendszer elkészíti az
	egyedi, személyre szóló termékkulcsokat a szoftverekhez.
</p>
<p>
	Ezek után a <strong>Start Download</strong> gombra kattintva
	indítható el a szoftver tényleges letöltése. Első lépésben (ha
	azt még korábban nem tette meg) a letöltéshez használt Secure
	Download Manager (SDM) nevű szoftvert kell letölteni és
	telepíteni, majd a rendeléshez tartozó .SDX fájlt kell letölteni
	és megnyitni a Secure Download Managerrel. Az SDM az SDX-ben
	lévő információk alapján letölti a telepítő fájlokat a
	szerverről és kicsomagolja azokat.
</p>
<p>
	A megrendelt szoftverek és a hozzájuk tartozó
	termékkulcsok a későbbiekben a bejelentkezés után a
	felső menüben található
	<strong>Your Account/Orders</strong>
	menüpontban bármikor ismét letölthetők.
</p>

<p>
	<a class="btn btn-primary" href="@Url.RouteUrl( RouteNames.Login )" target="_blank">Tovább a letöltőszerverre</a>
</p>


