@{
	ViewBag.Title = "Licenc feltételek";
	ViewBag.MetaKeywords = "MSDNAA, DreamSpark, szoftver, letöltés, licenc, licensz";
	ViewBag.MetaDescription = "A DreamSpark program felhasználásának feltételei.";
}

<h1 class="page-header">Licenc feltételek</h1>

<table class="table table-bordered">
	<tr>
		<th class="text-center">Engedélyezett</th>
		<th class="text-center">Tilos</th>
	</tr>
	<tr>
		<td>
			A DreamSpark (MSDNAA) program keretében
			szolgáltatott eszközök és technológiák csak oktatási és
			kutatási (nem kereskedelmi) célra használhatók. Az oktatási
			és kutatási tevékenységek definícióját lásd lejjebb.
		</td>
		<td>
			A DreamSpark program részét képező szoftverek nem használhatók
			infrastrukturális céllal (osztályterem,
			adminisztráció). A felhasználásnak közvetlenül a
			DreamSpark eszközeinek
			(szoftvereinek és technológiáinak) oktatását, vagy kutatását
			kell szolgálnia.
		</td>
	</tr>
	<tr>
		<td>
			Azok a diákok, akik legalább egy tárgyat hallgatnak a
			DreamSparkra jogosult intézményben, azok feltelepíthetik az
			összes DreamSpark szoftvert a saját gépükre.
		</td>
		<td>
			Azok a diákok, akik bár egy érintett intézményben vannak,
			de nem hallgatnak olyan tárgyat, ami kredit, vagy oklevél
			megszerzéséhez vezet, azok nem jogosultak a
			DreamSpark szoftvereinek saját gépükre való telepítésére.
		</td>
	</tr>
	<tr>
		<td>
			Az intézmény dolgozói, tanári karának tagjai, akik
			közvetlenül érintettek az adminisztrációs rendszerben és
			támogatást nyújtanak a DreamSpark szoftvereihez,
			feltelepíthetik azokat a saját gépükre.
		</td>
		<td>
			Az intézmény azon dolgozói, akik nem közvetlenül érintettek az
			DreamSparkkal kapcsolatos adminisztrációban, mint pl.
			adminisztrációs munkatársak (titkár stb…), nem telepíthetik a
			szoftvereket saját gépeikre.
		</td>
	</tr>
	<tr>
		<td>
			A Microsoft Windowst csak a többi
			DreamSparkban lévő szoftver
			és technológia használatának lehetővé tétele miatt szabad
			telepíteni, mint pl. Visual Studio.
		</td>
		<td>
			A Windows
			kliens nem használható terminálként egy UNIX Telnet
			szerver eléréséhez. A Windows Server nem hosztolhat e-mail
			szervert, még akkor sem ha az e-mail szerver külön került
			megvásárlásra.
		</td>
	</tr>
	<tr>
		<td>
			Több tanszék összekapcsolhatja a
			DreamSparkot, ha külön-külön
			teljesítik a belépési követelményeket.
		</td>
		<td>
			A program részét képező szoftvereket nem szabad megosztani
			olyan tanszékekkel, melyek nem tagjai a programnak.
			Ugyanakkor szabad olyan közös laborokban használni, ahova az
			DreamSparkkal rendelkező tanszék diákjai is rendszeresen
			járnak.
		</td>
	</tr>
	<tr>
		<td>
			A kijelölt program adminisztrátor egy intézményi alkalmazott
			kell hogy legyen. Ő lesz felelős az adminisztrációért és a
			licenc feltételek betartásáért (End-User License
			Agreement (EULA), DreamSpark License Amendment).
		</td>
		<td>
			A kijelölt program adminisztrátor nem lehet tanársegéd vagy
			diák. Ugyanakkor tanársegédek és diákok segíthetik a program
			adminisztrátor munkáját.
		</td>
	</tr>
	<tr>
		<td>
			A szoftverekről készült minden másolat meg kell hogy
			egyezzen az eredetivel, valamint tartalmaznia kell minden
			copyright és trademark figyelmeztetést.
		</td>
		<td>
			Az
			DreamSparkban szereplő szoftvereket nem lehet eladni, bérbe
			adni, vagy átruházni harmadik személyre (külső cégek,
			konzulensek stb).
		</td>
	</tr>
	<tr>
		<td>
			Ha az intézmény úgy dönt, hogy nem kívánja megújítani a
			DreamSpark szerződést, akkor a feltelepített szoftvereket a
			lejárati dátumnak megfelelően még használhatja a fent leírt
			célokra. Ugyanakkor, a szoftverek nem lesznek elérhetők
			többé diákok és tanszéki dolgozók számára, továbbá nem
			telepíthetők új tanszéki számítógépekre.
		</td>
		<td>
			A diákok és a tanszéki dolgozók nem jogosultak többé a
			szoftverek letöltésére a tagsági idő lejárta után.
		</td>
	</tr>
</table>			

