@{
	ViewBag.Title = "Regisztráció a letöltő szerverre";
	ViewBag.MetaKeywords = "regisztrció, letöltés, súgó, MSDNAA, Dreamspark, szoftver, letöltés";
	ViewBag.MetaDescription = "Segítség és útmutató a regisztrációhoz.";
}


<h1 class="page-header">Regisztráció a letöltő szerverre</h1>

<p>
	A szoftverek letöltését illetve a telepítéshez szükséges kulcsok kiosztását egy a
	Microsofttal szerződött külső cég szoftvere, a <strong>Kivuto WebStore</strong> (korábbi nevén e-Academy
	License Management System, ELMS) végzi. A letöltő szerverhez regisztráció után lehet
	hozzáférni, amit a következő módokon lehet kezdeményezni:
</p>

<div class="row-fluid content-container">
	<div class="span6 text-center content-box">
		<p>
			<strong>Hallgatók számára</strong>
		</p>
		<p>
			a <a target="_blank" href="http://msdnaa.devportal.hu">http://msdnaa.devportal.hu</a> weboldalon keresztül.
		</p>
	</div>
	<div class="span6 text-center content-box content-box-primary">
		<p>
			<strong>Oktatók, doktoranduszok számára</strong>
		</p>
		<p>
			e-mailben az <a href="mailto:msdnaa@bme.hu?subject=DreamSpark oktatoi regisztracio keres">msdnaa@bme.hu</a>
			címen keresztül "DreamSpark oktatoi regisztracio keres" címsorral és a tanszék vagy szervezeti egység megadásával.
		</p>
	</div>
</div>

<p>
	<span class="label label-important">FONTOS!</span>
	<span class="text-error">
		A válasz levélben kapott jelszót kérjük feltétlenül változtassa meg az első bejelentkezés után a
		felső menüben lévő <strong>MyAccount/Orders</strong> menüpontban!
	</span>
</p>

<p>
	A regisztrációnak van egy kis átfutási ideje. Miután
	megtörtént, a rendszer egy tájékoztató levelet
	küld, amelyben megtalálható a rendszer eléréséhez
	szükséges felhasználó név és jelszó páros. KÉRJÜK
	FIGYELMESEN OLVASSA EL ÉS ŐRIZZE MEG AZT A LEVELET!
</p>

<p>
	A levélben található belépési névvel és jelszóval
	látogasson el a <a href="http://e5.onthehub.com/WebStore/Welcome.aspx?ws=42a261b1-869b-e011-969d-0030487d8897">letöltő szerverre</a>,
	kattintson a jobb felső sarokban található <strong>Sign In</strong> feliratú gombra, majd az
	adatainak megadása után kövesse a <a href="@Url.RouteUrl( RouteNames.DownloadGuide )">letöltési útmutató</a>ban
	található lépéseket a szoftverek letöltéséhez.
</p>

