@{
	ViewBag.Title = "Regisztráció a letöltő szerverre";
	ViewBag.MetaKeywords = "regisztrció, letöltés, súgó, MSDNAA, Dreamspark, szoftver, letöltés";
	ViewBag.MetaDescription = "Segítség és útmutató a regisztrációhoz.";
}


<h1 class="page-header">Regisztráció a letöltő szerverre</h1>

<p>
	<span class="label label-important">Változás!</span>
	<span class="text-error">
		A letöltőszerverre 2014. márciusától <strong>nem szükséges külön regisztrálni</strong>, mert a bejelentkezés a BME Címtár segítségével történik.
	</span>
</p>



