@{
	ViewBag.Title = "Kijelentkezés";
}

<h1 class="page-header">Kijelentkezés</h1>

<p>
	A DreamSpark letöltőszerverről sikeresen kijelentkezett, azonban a BME Címtárban még továbbra is él a munkamenete,
	hogy más weboldalakra kényelmesen jelentkezhessen be.
</p>
<p>
	<a href="/Shibboleth.sso/Logout" class="btn btn-primary">Kijelentkezés a címtárból</a>
</p>
