<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<!-- Disable IIS7 logging for this folder. -->
		<httpLogging dontLog="true" />

		<!-- Enable entities to cache the content of this folder. -->
		<staticContent>
			<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
		</staticContent>

		<!-- Enable any entity to cache the content of this folder. -->
		<httpProtocol>
			<customHeaders>
				<add name="Cache-Control" value="public" />
			</customHeaders>
		</httpProtocol>
	</system.webServer>
</configuration>
