@{
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Hiba történt</title>
</head>
<body>
	<hgroup>
	    <h1>Hiba történt</h1>

		<h2>A kérés feldolgozása közben sajnos nem várt hiba történt. A kellemetlenségért elnézését kérjük!</h2>
	</hgroup>
</body>
</html>
